:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* navbar css code */
.ul-nav{
  list-style: none;
  display: flex;
  justify-content: gap ;
  align-items: center;
}
li {
  margin-right: 20px;
}
li a{
  color: black;
  font-size: small;
  text-decoration: none;
}
.logo{
  margin-left: 1rem;
}
.join-now-button {
  border: 1.14px solid black; /* Adjust color and width as needed */
  border-radius: 10px;
  padding: 4px 10px; 
  text-decoration: none;
  color: black;
}
.navbar-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}